*-anybalance.html
_history.bat
_packsend.bat
provider.zip
packsend.bat
debug
.idea
/nbproject/private/
*nbproject
!**/test/*-anybalance.html
!extra/development/ab-typical-provider/_history.bat
!extra/development/ab-stark-typical-provider/_history.bat
!extra/development/ab-nadapter-typical-provider/_history.bat
!extra/development/ab-typical-provider/_debug-anybalance.html
!extra/development/ab-stark-typical-provider/_debug-anybalance.html
!extra/development/ab-nadapter-typical-provider/_debug-anybalance.html