*-anybalance.html
_history.bat
_packsend.bat
provider.zip
packsend.bat
debug
/nbproject/private/
*nbproject
!extra/development/ab-nadapter-typical-provider/*-anybalance.html
!extra/development/ab-nadapter-typical-provider/_history.bat